/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
html{
    font-family: 'Times New Roman', Times, serif;
}

/* HEADER */
header {
    height: 100px;
    background-color: #4ea0ff;
    background-image: url("../img/pattern.png");
    background-repeat: repeat;
    background-position: top;
    background-size: 30%;
}

header img{
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}

/* MAIN */
.container {
    height: 600px;
    margin: auto;
    background-color: rgb(255, 255, 255);    
    margin-left: 10px;
}

/* main text */
.title h1{
    font-size: 50px;
    font-weight: bolder;
    padding-top: 20px;
}

.title h2, h3{
    color: grey;
}

.title span{
    color: #29ade6;
}

/* FOOTER */
footer{
    height: 100px;
    background-color: gold;
}